@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700");
/* line 12, ../compass/sass/style.sass */
html, body, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  -webkit-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  -moz-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  -o-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  color: #fff;
  overflow: hidden;
}

/* line 24, ../compass/sass/style.sass */
* {
  font-family: "lato", "open sans", sans-serif;
}

/* line 27, ../compass/sass/style.sass */
.page {
  position: absolute;
}

/* line 30, ../compass/sass/style.sass */
#p1 {
  left: 0;
}

/* line 33, ../compass/sass/style.sass */
#p2, #p3, #p4, #p5, #p6, #p7 {
  left: 200%;
}

/* line 36, ../compass/sass/style.sass */
#p1 {
  background: #9627D1;
}

/* line 39, ../compass/sass/style.sass */
#p2 {
  background: #5B38D1;
}

/* line 42, ../compass/sass/style.sass */
#p3 {
  background: #30ADBB;
}

/* line 45, ../compass/sass/style.sass */
#p4 {
  background: #30BB48;
}

/* line 48, ../compass/sass/style.sass */
#p5 {
  background: #D1DF2C;
}

/* line 51, ../compass/sass/style.sass */
#p6 {
  background: #CC8934;
}

/* line 54, ../compass/sass/style.sass */
#p7 {
  background: #CC3434;
}

/* line 57, ../compass/sass/style.sass */
a {
  display: block;
}

/* line 60, ../compass/sass/style.sass */
#t2:target #p2, #t3:target #p3, #t4:target #p4, #t5:target #p5, #t6:target #p6, #t7:target #p7 {
  transform: translateX(-190%);
  -webkit-transform: translateX(-190%);
  -moz-transform: translateX(-190%);
  -o-transform: translateX(-190%);
  transition-delay: 0.4s !important;
}

/* line 67, ../compass/sass/style.sass */
#t2:target #p1, #t3:target #p1, #t4:target #p1, #t5:target #p1, #t6:target #p1, #t7:target #p1 {
  background: black;
}

/* line 70, ../compass/sass/style.sass */
#t2:target #p1 .icon, #t3:target #p1 .icon, #t4:target #p1 .icon, #t5:target #p1 .icon, #t6:target #p1 .icon, #t7:target #p1 .icon {
  -webkit-filter: blur(3px);
}

/* line 73, ../compass/sass/style.sass */
.icon {
  color: #fff;
  font-size: 52px;
  display: block;
  width: 100%;
  height: 8.28vh;
}
/* line 79, ../compass/sass/style.sass */
.icon::before {
  font-size: 30px;
  height: 30px !important;
  width: 30px !important;
}

/* line 85, ../compass/sass/style.sass */
ul .icon:hover {
  opacity: 0.5;
}

/* line 88, ../compass/sass/style.sass */
.page .icon .title {
  line-height: 2;
}

/* line 91, ../compass/sass/style.sass */
#t2:target ul .icon, #t3:target ul .icon, #t4:target ul .icon, #t5:target ul .icon, #t6:target ul .icon, #t7:target ul .icon {
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  transition-delay: 0.25s;
}

/* line 98, ../compass/sass/style.sass */
#t2:target #two, #t3:target #three, #t4:target #four, #t5:target #five, #t6:target #six, #t7:target #seven {
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
}

/* line 106, ../compass/sass/style.sass */
ul {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 100vh;
  width: 10%;
  max-width: 150px;
  padding: 0;
  text-align: center;
}

/* line 119, ../compass/sass/style.sass */
#menu .icon {
  margin: 3vh 0;
  transition: all 0.5s ease-out !important;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

/* line 126, ../compass/sass/style.sass */
a {
  text-decoration: none;
}

/* line 129, ../compass/sass/style.sass */
.title, .hint {
  display: block;
}

/* line 132, ../compass/sass/style.sass */
.title {
  font-size: 38px;
}

/* line 135, ../compass/sass/style.sass */
.hint {
  font-size: 13px;
}

/* line 138, ../compass/sass/style.sass */
#p4 .hint {
  display: inherit !important;
}

/* line 141, ../compass/sass/style.sass */
.hint a {
  color: yellow;
  transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
}
/* line 147, ../compass/sass/style.sass */
.hint a:hover {
  color: #FFF;
}

/* line 150, ../compass/sass/style.sass */
.line-trough {
  text-decoration: line-through;
}

/* line 154, ../compass/sass/style.sass */
.page .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  left: 0;
  width: 270px;
  height: 170px;
  margin: auto;
  text-align: center;
  font-size: 80px;
  line-height: 1.3;
  transform: translateX(360%);
  -webkit-transform: translateX(360%);
  -moz-transform: translateX(360%);
  -o-transform: translateX(360%);
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
  -moz-transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
  -o-transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
}
/* line 174, ../compass/sass/style.sass */
.page#p1 .icon {
  height: 220px;
  transform: translateX(10%) !important;
}

/* line 178, ../compass/sass/style.sass */
#t2:target .page#p2 .icon, #t3:target .page#p3 .icon, #t4:target .page#p4 .icon, #t5:target .page#p5 .icon, #t6:target .page#p6 .icon, #t7:target .page#p7 .icon {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transition-delay: 1s;
}

/* line 189, ../compass/sass/style.sass */
.index-buttons {
  margin-top: 210px;
  margin-left: 24%;
  margin-right: 36%;
  font-family: "lato", "open sans", sans-serif;
  font-weight: 300;
  width: 40%;
}

/* line 197, ../compass/sass/style.sass */
.index-buttons a {
  text-decoration: none;
}
/* line 199, ../compass/sass/style.sass */
.index-buttons a:hover {
  text-decoration: none;
}

/* line 202, ../compass/sass/style.sass */
.button-games {
  flex: 1 1 auto;
  margin: 10px;
  margin-top: 30px;
  font-size: 18px;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  transition: 0.3s;
  color: white;
}
/* line 216, ../compass/sass/style.sass */
.button-games:after {
  position: absolute;
  transition: 0.3s;
  content: "";
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #f7f7f7;
  height: 120%;
  left: -10%;
  transform: skewX(15deg);
  z-index: -1;
}
/* line 229, ../compass/sass/style.sass */
.button-games:hover {
  cursor: pointer;
  color: #5bcaff;
}
/* line 232, ../compass/sass/style.sass */
.button-games:hover:after {
  width: 100%;
  left: 0;
  left: -10%;
  width: 120%;
}

/* line 239, ../compass/sass/style.sass */
#p7 .index-contacts {
  margin-top: 60px !important;
  width: 50vw !important;
  margin-left: 20vw !important;
  height: 600px !important;
  position: static !important;
  right: 0 !important;
  font-size: medium !important;
  line-height: normal !important;
  text-align: left;
}

/* line 250, ../compass/sass/style.sass */
.index-h2-text {
  text-align: center !important;
  font-family: "lato", "open sans", sans-serif;
  font-weight: 300;
}

/* line 255, ../compass/sass/style.sass */
.Myform {
  width: 100%;
  border: none !important;
  border-bottom: 2px solid #eee !important;
  border-radius: 0px !important;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-top: 5px;
}

/* line 264, ../compass/sass/style.sass */
.label-form {
  text-align: left !important;
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 400;
  color: #CC3434;
}

/* line 270, ../compass/sass/style.sass */
input, textarea {
  color: #eee !important;
  background-color: #CC3434;
}

/* line 274, ../compass/sass/style.sass */
textarea:focus, input:focus {
  outline: none;
  color: #eee !important;
}

/* line 278, ../compass/sass/style.sass */
*::-webkit-input-placeholder {
  color: #eee;
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 300;
}

/* line 283, ../compass/sass/style.sass */
*:-moz-placeholder {
  color: #eee;
  opacity: 1;
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 300;
}

/* line 289, ../compass/sass/style.sass */
*::-moz-placeholder {
  color: #eee;
  opacity: 1;
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 300;
}

/* line 295, ../compass/sass/style.sass */
*:-ms-input-placeholder {
  color: #eee;
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 300;
}

/* line 301, ../compass/sass/style.sass */
#send-button {
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 400;
  color: #eee;
  border: 2px solid #eee !important;
  background-color: #CC3434 !important;
}
/* line 307, ../compass/sass/style.sass */
#send-button:hover {
  color: #CFCD35;
  border: 2px solid #CFCD35 !important;
  background-color: #CC3434 !important;
}

/* line 315, ../compass/sass/style.sass */
body {
  background-color: #D1DF2C;
}

/* line 318, ../compass/sass/style.sass */
#shooter-hero {
  background: #ff0000;
  width: 20px;
  height: 20px;
  position: absolute;
}

/* line 324, ../compass/sass/style.sass */
#shooter-background {
  background: #000000;
  width: 500px;
  height: 500px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  border: 2px solid #D1DF2C;
}

/* line 334, ../compass/sass/style.sass */
#shooter-laser {
  background: #00ff00;
  width: 2px;
  height: 20px;
  position: absolute;
}

/* line 340, ../compass/sass/style.sass */
.shooter-enemy {
  background: #0000ff;
  width: 35px;
  height: 35px;
  position: absolute;
}

/* line 346, ../compass/sass/style.sass */
#shooter-score {
  color: #ffffff;
  font-size: 18pt;
  position: absolute;
  left: 20px;
  top: 20px;
}

/* line 353, ../compass/sass/style.sass */
#shooter-gameover {
  color: #ff0000;
  font-size: 20px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 200px;
  visibility: hidden;
}

/* line 362, ../compass/sass/style.sass */
#shooter-GameScreen {
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* line 369, ../compass/sass/style.sass */
#shooter-GameScreen .button-games {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 20vh;
}

/* line 375, ../compass/sass/style.sass */
.control-game-menu {
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
/* line 379, ../compass/sass/style.sass */
.control-game-menu .button-games {
  width: 80vh;
  margin-left: auto;
  margin-right: auto;
}

/* line 384, ../compass/sass/style.sass */
.game-menu {
  position: fixed;
  height: 100%;
  width: 10%;
  background-color: #000;
}
/* line 389, ../compass/sass/style.sass */
.game-menu .back-btn {
  position: fixed;
  top: 20px;
  width: 10%;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: 0;
}
/* line 405, ../compass/sass/style.sass */
.game-menu .back-btn:hover, .game-menu .back-btn:active {
  letter-spacing: 5px;
  text-decoration: none;
}
/* line 408, ../compass/sass/style.sass */
.game-menu .back-btn:after, .game-menu .back-btn:before {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
/* line 419, ../compass/sass/style.sass */
.game-menu .back-btn:hover:after {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}
/* line 424, ../compass/sass/style.sass */
.game-menu .back-btn:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
  bottom: auto;
  top: 0;
  width: 70%;
}

/* line 434, ../compass/sass/style.sass */
.ttt-gamescreen {
  height: 95vh;
  width: 80vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/* line 441, ../compass/sass/style.sass */
.ttt-control-buttons {
  height: 20vh;
  width: 100%;
}

/* line 445, ../compass/sass/style.sass */
.ttt-game-field {
  width: 66vh;
  height: 65vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  vertical-align: top;
}

/* line 454, ../compass/sass/style.sass */
.ttt-button {
  display: inline-block;
  margin: 4px;
  width: 20vh;
  height: 20vh;
  border-radius: 10px;
  border: 2px solid #fff;
  vertical-align: top;
  float: left;
}
/* line 463, ../compass/sass/style.sass */
.ttt-button:hover {
  border-color: #8966E3;
}

/* line 466, ../compass/sass/style.sass */
.ttt-button-text {
  padding-top: 20px;
  text-align: center;
  font-size: 500%;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Lato", "Open Sans", sans-serif;
  font-weight: 300;
}

/* line 476, ../compass/sass/style.sass */
fieldset {
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* line 482, ../compass/sass/style.sass */
.radio-inline__input {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* line 486, ../compass/sass/style.sass */
.radio-inline__label {
  display: inline-block;
  padding: 0.5rem 1rem;
  width: 65px;
  margin-right: 18px;
  border-radius: 3px;
  transition: all 0.2s;
}

/* line 495, ../compass/sass/style.sass */
.radio-inline__input:checked + .radio-inline__label {
  background: #8966E3;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}
/* line 499, ../compass/sass/style.sass */
.radio-inline__input:focus + .radio-inline__label {
  outline-color: #4D90FE;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

/* line 505, ../compass/sass/style.sass */
.ttt-palyers {
  padding-top: 10px;
}

/* line 509, ../compass/sass/style.sass */
.ttt-control-buttons .button-games {
  margin-top: 10px !important;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* line 516, ../compass/sass/style.sass */
.calc-main {
  height: initial !important;
  width: 330px !important;
}

/* line 520, ../compass/sass/style.sass */
.calc-btn {
  width: 70px;
  height: 70px;
  margin: 6px;
  font-size: 24px;
  float: left;
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 400;
  color: #eee;
  background-color: #30bb48 !important;
  border: 2px solid #eee !important;
  border-radius: 6px;
}
/* line 532, ../compass/sass/style.sass */
.calc-btn:hover {
  color: #CFCD35 !important;
  border: 2px solid #CFCD35 !important;
}

/* line 537, ../compass/sass/style.sass */
#calc-btn-equal {
  width: 152px !important;
}

/* line 540, ../compass/sass/style.sass */
#calc-input {
  width: 100% !important;
  text-align: right !important;
  height: 40px !important;
  font-family: "Open Sans", "Lato", sans-serif;
  font-size: 24px;
  background-color: #30bb48 !important;
  border: none !important;
  border-bottom: 2px solid white !important;
}

/* line 550, ../compass/sass/style.sass */
.calc-title {
  margin-bottom: -20px;
  margin-top: 60px;
}

/* line 556, ../compass/sass/style.sass */
.bm-main {
  width: 100% !important;
  height: 100% !important;
}

/* line 560, ../compass/sass/style.sass */
.bm-label {
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-align: left;
  vertical-align: text-top;
  float: left;
}

/* line 568, ../compass/sass/style.sass */
.bm-input {
  font-size: initial !important;
  width: 100%;
  background-color: #30adbb;
  border: none !important;
  border-bottom: 2px solid white !important;
  float: left;
  padding-top: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "Open Sans", "Lato", sans-serif;
}

/* line 580, ../compass/sass/style.sass */
.bm-input-line:nth-child(1) {
  margin-top: 50px;
}

/* line 583, ../compass/sass/style.sass */
.bm-input-line {
  margin-bottom: 15px;
}

/* line 586, ../compass/sass/style.sass */
.bm-app-div {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* line 591, ../compass/sass/style.sass */
.bm-btn {
  float: right !important;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 24px;
  float: left;
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 400;
  color: #eee;
  background-color: #30adbb !important;
  border: 2px solid #eee !important;
  border-radius: 6px;
}
/* line 606, ../compass/sass/style.sass */
.bm-btn:hover {
  color: #CFCD35 !important;
  border: 2px solid #CFCD35 !important;
}

/* line 610, ../compass/sass/style.sass */
#bookmarksResults {
  float: left;
  width: 100%;
}

/* line 614, ../compass/sass/style.sass */
.well {
  padding: 10px !important;
}
/* line 616, ../compass/sass/style.sass */
.well h3 {
  text-align: left;
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
}
/* line 622, ../compass/sass/style.sass */
.well h3 a {
  float: right;
  margin-top: -13px;
  margin-left: 5px;
}
